<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.h2.Driver</property>
  <property name="hibernate.connection.url">jdbc:h2:tcp://localhost/~/test</property>
  <property name="hibernate.connection.username">sa</property>
  <mapping class="com.javaegitimleri.petclinic.model.Pet"/>
  <mapping class="com.javaegitimleri.petclinic.model.OwnerWithCompositePK"/>
  <mapping class="com.javaegitimleri.petclinic.model.Owner"/>
  <mapping class="com.javaegitimleri.petclinic.model.Vet"/>
  <mapping class="com.javaegitimleri.petclinic.model.Visit"/>
  <mapping class="com.javaegitimleri.petclinic.model.Image"/>
  <mapping class="com.javaegitimleri.petclinic.model.ImageContent"/>
  <mapping class="com.javaegitimleri.petclinic.model.City"/>
  <mapping class="com.javaegitimleri.petclinic.model.Clinic"/>
  <mapping class="com.javaegitimleri.petclinic.model.PetType"/>
  <mapping class="com.javaegitimleri.petclinic.model.Specialty"/>
  <mapping class="com.javaegitimleri.petclinic.model.Person"/>
  <!-- 
  <event type="post-insert">
  	<listener class="com.javaegitimleri.petclinic.event.AuditEntityInsertListener"/>
  </event>
  <event type="post-update">
  	<listener class="com.javaegitimleri.petclinic.event.AuditEntityUpdateListener"/>
  </event>
  <event type="post-delete">
  	<listener class="com.javaegitimleri.petclinic.event.AuditEntityDeleteListener"/>
  </event>
   -->
 </session-factory>
</hibernate-configuration>
